



.bubble-cover {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    top: 100vh;
    transition: top ease 0.5s;
    z-index: 4;

    .bubble-cover-text {
        position: fixed;
        text-align: center;
        width: 100vw;
        font-size: 3rem;
        top: calc(50vh - 5rem);
        opacity: 0;
        transition: opacity ease 0.5s;
        z-index: 5;
        pointer-events: none;
    }
}

.bubble {
    border-radius: 50%;
    background-color: #d47fad;
    border: solid 3px black;
    box-shadow: 0.2rem 0.2rem black;
    position: fixed;
    z-index: 7;
    top: 100vh;
}

.small-bubble {
    height: 8rem;
    width: 8rem;
}

.normal-bubble {
    height: 14rem;
    width: 14rem;
}

.big-bubble {
    height: 22rem;
    width: 22rem;
}

.bubble-1 { background-color: #f08fc2; }
.bubble-2 { background-color: #e283b6; }
.bubble-3 { background-color: #e07db2; }
.bubble-4 { background-color: #f08fc2; }
.bubble-5 { background-color: #e07db2; }
.bubble-7 { background-color: #f08fc2; }
.bubble-8 { background-color: #e283b6; }


@media (max-width: 800px) {
    .small-bubble {
        height: 4rem;
        width: 4rem;
    }

    .normal-bubble {
        height: 7rem;
        width: 7rem;
    }

    .big-bubble {
        height: 11rem;
        width: 11rem;
    }

    .bubble-cover {
        .bubble-cover-text {
            font-size: 2rem;
        }
    }
}