* {
    cursor: none;
}

.main-cursor,
.secondary-cursor {
  z-index: 15;
  pointer-events: none;
  transform: translate(-10rem, -10rem);
  position: fixed;
  opacity: 0;
  transition: opacity ease 0.5s;
}

.main-cursor {
  transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1);
  animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 9rem;
}

.main-cursor-background {
  height: 1rem;
  width: 1rem;
  background-color: white;
  border: solid 3px black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: height ease 0.5s,
              width ease 0.5s,
              margin ease 0.5s,
              background-color ease 0.5s;
}

.main-cursor-hover {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
}

.secondary-cursor-background {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  opacity: 1;
  margin: calc((9rem - 2.5rem) / 2);
  display: flex;
  border: solid 3px black;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: width ease 0.5s,
              height ease 0.5s,
              margin ease 0.5s,
              background-color ease 0.5s,
              opacity ease 0.5s;
}

.secondary-cursor-hover {
    opacity: 0;
}

@media(max-width: 1200px) {
    .custom-cursor {
        display: none;
    }
}