
.home-container {
    width: 100vw;
    height: 100vw;
    background-color: #d4caca;
}

.guess-int-container {
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section {
    height: 60vh;
    width: 100vw;

    button {
        width: calc(33vw - 2rem);
        margin: 0 1rem;
    }
}


.information-button {
    height: 4rem;
    width: 4rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}