
.home-container {
    background-color: #eb89be; //d4caca
}

.guess-int-container {
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guess-int {
    height: 45vh;
    width: calc(100vw - 35vh);
    background-color: white;
    border-radius: 1rem;
    border: solid 3px black;
    box-shadow: 0.5rem 0.5rem black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section {
    height: calc(40vh - 5rem);
    // margin-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-auto-flow: column;

    .button-inner-section {
        width: calc(100vw / 3);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        height: 9rem;
        width: 20rem;
        border-radius: 1rem;
        border: solid 3px black;
        margin: 0 auto;
        font-size: 1.5rem;
        box-shadow: 0.5rem 0.5rem black;
        background-color: white;
        transition: background-color ease 0.5s;

        p {
            color: black;
            transition: color ease 0.5s;
        }

        &:hover {
            background-color: #3f3f3f;

            p {
                color: #ffffff;
            }
        }
    }

}

.red-button-section {
    display: grid !important;
    height: 12rem;
    // margin-right: 12vw;

    div {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-color: #2c2b2b;
        border: solid 3px black;
        box-shadow: 0.2rem 0.2rem black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-right: 10rem;
        transition: background-color ease 0.5s;

        p {
            color: white;
            margin: 0;
        }

        &:hover {
            background-color: #3f3f3f;
        }
    }

    .top-red {
        margin-right: 0;
        margin-left: 10rem;
    }
}

.information-button {
    height: 4rem;
    width: 4rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    border: none;
    border-radius: 50%;
    background-color: white;
    border: solid 3px black;
    box-shadow: 0.2rem 0.2rem black;
    transition: background-color ease 0.5s;


    p {
        font-size: 1.2rem;
        margin: 0;
        color: black;
        transition: color ease 0.5s;
    }

    &:hover {
        background-color: #3f3f3f;

        p {
            color: #ffffff;
        }
    }
}


.info-tab-container {

    .info-tab {
        position: fixed;
        top: 8rem;
        left: 9rem;
        height: calc(100vh - 16rem);
        width: calc(100vw - 18rem);
        background-color: white;
        opacity: 0;
        pointer-events: none;
        border-radius: 1rem;
        z-index: 4;
        border: solid 3px black;
        box-shadow: 0.5rem 0.5rem black;
    
        .exit-button {
            height: 4rem;
            width: 4rem;
            position: fixed;
            top: 8.5rem;
            right: 9rem;
            
            div {
                height: 4px;
                width: 2.5rem;
                background-color: black;
                border-radius: 1rem;
                transition: transform ease 0.5s;
            }
    
            :first-child {
                transform: translate(calc(0.75rem - 2px), 2rem) rotate(45deg);
            }
    
            :last-child {
                transform: translate(calc(0.75rem - 2px), calc(2rem - 4px)) rotate(-45deg);
            }

            &:hover {

                :first-child {
                    transform: translate(calc(0.75rem - 2px), 2rem) rotate(135deg);
                }
        
                :last-child {
                    transform: translate(calc(0.75rem - 2px), calc(2rem - 4px)) rotate(45deg);
                }
            }
        }

        p {
            font-size: 1.6rem;
        }

        .info-text {
            width: calc(100vw - 26rem);
            margin: 4rem;
            margin-top: 6rem;
            line-height: 3rem;
        }

        .dev-info {
            right: 12rem;
            bottom: 9rem;
            position: fixed;
        }
    
    }
    
    .back-cover {
        z-index: 3;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #d47fad; //#eb97c4;
        opacity: 0;
        pointer-events: none;
    }
}


.show-info-tab {
    .info-tab {
        opacity: 1;
        pointer-events: initial;
    }

    .back-cover {
        opacity: 1;
        pointer-events: initial;
    }
}

.socials-tab {
    height: 16rem;
    width: 4rem;
    position: fixed;
    display: grid;
    top: 1rem;
    left: 1rem;

    div {
        height: 4rem;
        width: 4rem;
        border-radius: 0.75rem;
        background-color: white;
        border: solid 3px black;
        box-shadow: 0.2rem 0.2rem black;
    }
}

.start-tab {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eb89be;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        height: 10rem;
        width: 24rem;
        border-radius: 1rem;
        border: solid 3px black;
        box-shadow: 0.35rem 0.35rem black;
        transition: background-color ease 0.5s;
        background-color: white;

        p {
            color: black;
            transition: color ease 0.5s;
            font-size: 1.4rem;
        }

        &:hover {
            background-color: #3f3f3f;

            p {
                color: white;
            }
        }
    }
}

.bubble-cover {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    top: 100vh;
    transition: top ease 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1200px) {
    .guess-int {
        width: 90vw;
    }
}

@media (max-width: 1000px) {
    .button-inner-section {
        position: fixed;
        width: 50vw !important;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 40vw;
        }
    }

    .lower-section {
        left: 0;
        bottom: 20vh;
        height: 20vh;
    }

    .higher-section {
        left: 0;
        bottom: 0;
        height: 20vh;
    }

    .red-section {
        right: 0;
        bottom: 0;
        height: 40vh;
    }
}



@media (max-width: 800px) {
    .guess-int-container {
        height: 45vh;
    }

    .guess-int {
        height: 40vh;
    }

    .button-section {
        height: 55vh;
        padding: 0;
    }

    .button-inner-section {
        height: calc(55vh / 2);
    }

    .lower-section {
        left: 0;
        top: 45vh;
        bottom: unset;
        height: 20vh;
    }

    .higher-section {
        left: 50vw;
        top: 45vh;
        bottom: initial;
        height: 20vh;
    }

    .red-section {
        right: 0;
        top: 70vh !important;
        bottom: initial;
        height: 25vh;
        width: 100vw !important;
    }
}