
.information-button {
    height: 4rem;
    width: 4rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    border: none;
    border-radius: 50%;
    background-color: white;
    border: solid 3px black;
    box-shadow: 0.2rem 0.2rem black;
    transition: background-color ease 0.5s, transform ease 0.35s;


    p {
        font-size: 1.2rem;
        margin: 0;
        color: black;
        transition: color ease 0.5s;
    }

    &:hover {
        background-color: #3f3f3f;

        p {
            color: #ffffff;
        }
    }
}


.info-tab-container {

    .info-tab {
        position: fixed;
        top: 13rem;
        left: 9rem;
        height: calc(100vh - 26rem);
        width: calc(100vw - 18rem);
        background-color: white;
        opacity: 0;
        pointer-events: none;
        border-radius: 1rem;
        z-index: 4;
        border: solid 3px black;
        box-shadow: 0.5rem 0.5rem black;
        transition: opacity ease 0.3s, height ease 0.3s, top ease 0.3s;
    
        .exit-button {
            height: 4rem;
            width: 4rem;
            position: fixed;
            top: 13.5rem;
            right: 9rem;
            transition: top ease 0.3s;
            
            div {
                height: 4px;
                width: 2.5rem;
                background-color: black;
                border-radius: 1rem;
                transition: transform ease 0.35s;
            }
    
            :first-child {
                transform: translate(calc(0.75rem - 2px), 2rem) rotate(45deg);
            }
    
            :last-child {
                transform: translate(calc(0.75rem - 2px), calc(2rem - 4px)) rotate(-45deg);
            }

            &:hover {

                :first-child {
                    transform: translate(calc(0.75rem - 2px), 2rem) rotate(-45deg);
                }
        
                :last-child {
                    transform: translate(calc(0.75rem - 2px), calc(2rem - 4px)) rotate(45deg);
                }
            }
        }

        p {
            font-size: 1.6rem;
        }

        .info-text {
            width: calc(100vw - 26rem);
            margin: 4rem;
            margin-top: 8rem;
            line-height: 3rem;
            transition: margin ease 0.3s;
        }

        .dev-info {
            right: 12rem;
            bottom: 14rem;
            position: fixed;
            transition: bottom ease 0.3s;
        }
    
    }
    
    .back-cover {
        z-index: 3;
        position: fixed;
        bottom: -100vh;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #d47fad; //#eb97c4;
        pointer-events: none;
        transition: bottom ease 0.5s 0.25s;
    }
}


.show-info-tab {
    .info-tab {
        opacity: 1;
        height: calc(100vh - 16rem);
        top: 8rem;
        pointer-events: initial;
        transition: opacity ease 0.3s 0.35s, height ease 0.65s 0.35s, top ease 0.65s 0.35s;

        .exit-button {
            top: 8.5rem;
            transition: top ease 0.65s 0.35s;
        }

        .info-text {
            margin-top: 6rem;
            transition: margin ease 0.65s 0.35s;
        }

        .dev-info {
            bottom: 9rem;
            transition: bottom ease 0.65s 0.35s;
        }
    }

    .back-cover {
        height: 100vh;
        bottom: 0;
        pointer-events: initial;
        transition: bottom ease 0.5s;
    }
}

@media(max-width: 1200px) {
    .info-tab-container {
        .info-tab-mobile {
            
            width: 100vw;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 6;
            overflow: auto;
            pointer-events: none;

            .info-tab {
                position: initial;
                height: auto;
                margin: 6rem;
                width: calc(100vw - 12rem);
                
                .exit-button {
                    position: initial;
                    margin-left: auto;
                }
    
                .info-text {
                    width: calc(100vw - 18rem);
                    margin: 3rem;
                    margin-top: 1.5rem;
                }

                .bottom-text {
                    margin-top: 6rem;
                }
        
        
                .dev-info {
                    position: initial;
                    
                    margin: 2rem;
                    text-align: right;
                }
            }
        }
    }
    
    .show-info-tab {
        .info-tab-mobile {
            pointer-events: initial;

            .info-tab {
                height: auto;
            }
        }
    }
}


@media(max-width: 800px) {
    .info-tab-container {
        .info-tab-mobile {
            height: 100vh;
            .info-tab {
                margin: 2rem;
                width: calc(100vw - 4rem);

        
                .info-text {
                    width: calc(100vw - 8rem);
                    margin: 2rem;
                    margin-top: 0.5rem;
                    font-size: 1.3rem;
                }

                .bottom-text {
                    margin-top: 6rem;
                }
        
                .dev-info {
                    position: initial;
                    font-size: 1.3rem;
                    margin: 2rem;
                    text-align: right;
                }
            }
        }
    }
    
    .show-info-tab {
        .info-tab-mobile {
            pointer-events: initial;

            .info-tab {
                height: auto;
            }
        }
    }
}