.popup-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity ease 0.5s;
    z-index: 6;

    .popup-tab {
        width: 40vw;
        border-radius: 1rem;
        border: solid 3px black;
        box-shadow: 0.2rem 0.2rem black;
        background-color: white;
    
        .exit-button {
            position: initial;
            margin-left: auto;
        }
    
        p {
            font-size: 1.3rem;
            margin: 3rem;
            margin-top: 3rem;
            line-height: 3rem;
        }

        .top-popup-text {
            margin-top: 1rem;
        }
    }
}